main{display:flex}
.right-sidebar{
    background-color:#f2f2f2;
    position: relative;
    padding:15px;
    direction:rtl;
    top:20px;
    height: 500px;;
    margin:5px;
    margin-bottom: 15px;
    border-radius:10px;
    border: dashed black 2px;
    display:none;
}
.products{
    height:auto;
    margin: 25px;
    margin-right:40px;
    display: grid;
    grid-gap: 20px 20px;
    
  }
  .product{
  box-shadow: 5px 5px 10px #888888;
  background: #fff;
  border-radius: 5px;
  color: black;
  height:430px;
  font-family: Iran-Sans;
  padding:10px;
  text-align: center;
  }
  a:link{
    color: #fafafa
  }
  a:visited{
    color: #fafafa
  }
  .product a{
    position: relative;
    top:20px;  
    background: #f02e08;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Iran-Sans;
    min-width: 100px;
    padding: 6px 17px 6px 17px;
    cursor: pointer;
  }
  .product img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .description-box{
      height:auto;
      width:96%;
      font-size: 15px;
      margin-top: 5px;
      border-radius: 5px;
      padding:5px;
      background-color: aliceblue;
  }
  .brand-box{
    background-color: white;
    border-radius:10px;
    width: 85%;
    height: 200px;
    overflow: auto;
    margin-top: 25px;
    padding: 10px;
  }
  /*Responsive*/
@media (min-width:768px){
    .products{
        width:80%;
        height:auto;
        grid-template-columns: 24% 24% 24% 24%;
    }
    .right-sidebar{
        display:inline;
        width:25%;
        height: 750px;
        margin-left: 0;
    }
    .description-box{font-size: 13px;}
}
@media screen and (max-width:13350px) {
    .product{height:500px;}
}
@media screen and (max-width:1240px) {
    .products{
        grid-template-columns: 32% 32% 32%;
    }
    }
    @media screen and (max-width:1040px) {
    .products{  grid-template-columns: 49% 49%;}
    .right-sidebar{display:none} 
    }
    
    @media screen and (max-width:550px) {
    .products{  grid-template-columns:98%;}
    }
    @media screen and (max-width:550px) {
    }
/*-----------------------------------*/
[slider] {
  direction:ltr;
  width: 250px;
  position: relative;
  height: 5px;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 5px;
}
[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}


[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 14px;
  background-color: #d02128;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 20px;
  width: 20px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  opacity: 0;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #d02128;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #d02128;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}
/*-----------------------------*/
/* Rounded sliders */
.switch {
  position: relative;
  right:80px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*--------------------------------------Font imports------------------------------*/
@font-face {
  font-family:iran-sans;
  src: url("../fonts/Iranian Sans.ttf");
}
@font-face {
  font-family:title-font;
  src: url("../fonts/OtomanopeeOne-Regular.ttf");
}
