html{
    scroll-behavior: smooth;
    font-family: iran-sans;
}
h1{
    color:whitesmoke;
    font-size: 1.5rem;
}

/*--------Navigation-bar/Hamburger menu--------*/
.hamburger-menu{
    width: 30px;
    height: 30px;
}
.hamburger-menu span{
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    margin:5px 0;
    border-radius: 10px;
}
header{
    box-shadow: 1px 1px 8px #000000;
    display:flex;
    font-family:iran-sans;
    justify-content: space-between;
    align-items: center;
    padding:15px 20px;
    background: rgb(253,187,45);
    background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(9,105,121,0.8491771708683473) 52%, rgba(34,193,195,1) 83%);
    position: relative;
    top:10px;
    border-radius: 15px;
    margin:15px;
    direction: rtl;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
    z-index: 2;
}
nav ul li a{
    transition: all .2s ease-in;
}
header h1{
    font-family:title-font;
    font-size: 1.5rem;
}
.main-nav{
    
    display:none;
    list-style-type: none;
}
.main-nav a{
    text-decoration: none;
    padding: 5px 10px;
    color:white;
    font-weight: 700;
}
.main-nav li:last-child a {
    background-color: white;
    color:#654fef;
    border-radius: 4px;
    transition: all .2s ease-in;
    margin-right:10px;
}
.main-nav li:last-child a:hover {
    background-color:#a24fef;
    color:white;
}
.main-nav li a:hover{
    background-color:#fff;
    color:indigo;
    border-radius: 5px;
}

/*-----------Search-Box------------*/
.search-box{
position: relative;
height:60px;
width:0px;
transition: all 0.7s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.search-box.active{
   width:350px;
}
.search-box input{
height:100%;
direction:rtl;
font-family: iran-sans;
width:100%;
border: none;
outline: none;
background:#fff;
font-size: 18px;
border-radius: 50px;
padding:0 60px 0 20px;
transition: all 0.7s cubic-bezier(0.68,-0.55,0.265,1.55);
opacity: 0;
}
.search-box input.active{
    opacity: 1;
}
.search-box .search-btn{
    height:60px;
    width: 60px;
    color: #664AFF;
    position:absolute;
    top:50%;
    right: 200px;
    transform: translateY(-50%);
    background:#fff;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.7s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.search-box .search-btn.active{
    height:50px;
    width: 50px;
    color: #fff;
    position:absolute;
    top:50%;
    right: 372px;
    transform: translateY(-50%);
    background:#664AFF;
    line-height: 50px;
    font-size: 20px;
    transform:translateY(-50%) rotate(360deg);
}
.search-box .cancel-btn{
    position:absolute;
    top:50%;
    right: 220px;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    transition: all .3s .1s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.search-box .cancel-btn.active{
    right:-40px;
    transform:translateY(-50%) rotate(360deg);
}

/*-----Search-Box responsive-----*/
@media (max-width:768px){
header{position:sticky;}
.search-box{
    position:absolute;
    }
    .search-box.active{
       width:58%;
       height:57x;
    }
    .search-box input{
        border-radius: 15px;
    }
    .search-box .search-btn{
        border-radius: 15px;
       right:-10px;
       height:50px;
       width: 50px;
       line-height: 50px;
    }
    .search-box .search-btn.active{
      right:109%;
    }
    .search-box .cancel-btn{
        right:-10px;
        color: #000000;
        
    }
    .search-box .cancel-btn.active{
       right:20px;
    }
}

#up-btn{display:none}
.topnav-box{
    background:linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(9,105,121,0.8491771708683473) 52%, rgba(34,193,195,1) 83%);;
    border-radius:0 0 15px 15px;
    width:92%;
    height: 200;
    padding:10px;
    list-style: none;
    z-index: 3;
    font-size: 17px;
    position: absolute;
    color: black;
    top:60px;
    left:5px;
}
.topnav-box li a{
background-color: rgba(255, 255, 255, 0.582);
text-decoration: none;
border-radius: 10px;
color: black;
text-align:center;
display:block;
margin-top: 5px;
border:solid black 1px;
padding: 15px;
}
#close-btn{
    font-size: 28px;
    display: none;
}

/*-----Boxes And Images In Main Page ------*/
.container{
    margin: 50px 25px 10px;
    display: grid;
    height:85%;
    padding:30px 190px 30px ;
    border:1px black solid;
    border-radius: 25px;
    grid-gap: 25px 25px;
    grid-template-columns: 48% 48%;
  }
  .grid-box{
  box-shadow: 10px 10px 20px #888888;
  background: #fff;
  border-radius: 15px;
  color: black;
  height: 300px;
  font-size: 13px;
  font-family: Iran-Sans;
  padding:10px;
  text-align: center;
  }
  .grid-box:hover{
      background-color: rgba(187, 184, 184, 0.726);
  }

  .land-img{
    position: relative;
    top:20px;
    margin: auto;
    border-radius:15px;
    height:230px;
    width:230px;}

/*--------Footer--------*/
footer{
    background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(9,105,121,0.8491771708683473) 52%, rgba(34,193,195,1) 83%);
    position: relative;
    bottom: 0;
    direction: rtl;
    padding:25px;
    display: flex;
    justify-content:space-between;
    text-align: center;
    font-family: iran-sans;
    color: #fff;
    font-size: 1.2rem;
    height:200px;
    margin:20px;
    border-radius: 25px;
    box-shadow: 1px 1px 8px #000000;
}
/*---------------------media queries---------------------*/
@media (min-width:768px){
    .hamburger-menu{
        display:none;
    }
    .main-nav{
        display:flex;
    }
    .first{width:75%;height:750px}
    
    .second{
        width:25%;
        height: 470px;
        margin-left: 0;
    }
   #close-btn{display:none;}
.container{
    grid-template-columns: 49% 49%;
}
#up-btn{
    float:left;
    background-color:white;
    position:relative;
    bottom:75px;
    border-radius:10px;
    padding:20px;
    color:black;
    font-size:25px;
}}
@media (max-width:958px){
    .container{
        margin: 40px;
        display: grid;
        padding:0;
        border: none;
        height:90%;
        grid-gap: 20px 20px;
        grid-template-columns: 100%;
      }
      .grid-box{
      box-shadow: 10px 10px 20px #888888;
      background: #fff;
      min-height:320px;
      border-radius: 5px;
      color: black;
      font-size: 13px;
      font-family: Iran-Sans;
      padding:10px;
      text-align: center;
      }}
      @media (max-width:550px){
        #about_me{display: none;}
      }           
/*--------------------------------------Font imports------------------------------*/
@font-face {
    font-family:iran-sans;
    src: url("../fonts/Iranian Sans.ttf");
  }
@font-face {
    font-family:title-font;
    src: url("../fonts/OtomanopeeOne-Regular.ttf");
  }
